<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>731997119912-a00b7p4l0d7e5nra37vi0c63kgot4s0h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.731997119912-a00b7p4l0d7e5nra37vi0c63kgot4s0h</string>
	<key>API_KEY</key>
	<string>AIzaSyAbfNfCufPZJZrYulgCxlKf2z6o9-463xs</string>
	<key>GCM_SENDER_ID</key>
	<string>731997119912</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.techacademy.tocci14.Beautefolio</string>
	<key>PROJECT_ID</key>
	<string>beautefolio</string>
	<key>STORAGE_BUCKET</key>
	<string>beautefolio.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:731997119912:ios:056f05810d5223e4</string>
	<key>DATABASE_URL</key>
	<string>https://beautefolio.firebaseio.com</string>
</dict>
</plist>